<div class="page__content page__content_grey">
  <div class="page__wrapper">
    <div class="page__top">
      <div class="page__inner">
        <div class="bread-crumbs">
          <ul class="bread-crumbs__list">
            <li class="bread-crumbs__item">
              <a class="bread-crumbs__link" href="<%= root_path %>">Главная</a>
              <div class="bread-crumbs__separator">
                <svg class="icon icon_arrow-right" role="img">
                  <title>separator</title>
                  <use xlink:href="<%= asset_path 'icons.svg#arrow-right' %>"></use>
                </svg>
              </div>
            </li>
            <li class="bread-crumbs__item">Гарантия безопасности платежей</li>
          </ul>
        </div>
        <h1 class="page-title">Гарантия безопасности платежей</h1>
      </div>
    </div>
    <div class="page__main">
      <div class="page__inner page__inner_flex page__inner_reversed">
        <%= render partial: 'shared/sidebar' %>
        <div class="page__content-col">
          <div class="page__security-info">
            <h2>Уважаемый клиент!</h2>
            <p>Вы можете оплатить свой заказ онлайн с помощью предложенных методов оплат через платежный сервис компании Uniteller. После подтверждения заказа Вы будете перенаправлены на защищенную платежную страницу Uniteller, где необходимо будет
              ввести данные для оплаты заказа. После успешной оплаты на указанную в форме оплаты электронную почту будет направлен электронный чек с информацией о заказе и данными по произведенной оплате.</p>
            <h2>Гарантии безопасности</h2>
            <p>Безопасность процессинга Uniteller подтверждена сертификатом стандарта безопасности данных индустрии платежных карт PCI DSS. Надежность сервиса обеспечивается интеллектуальной системой мониторинга мошеннических операций, а также применением
              3D Secure - современной технологией безопасности интернет-платежей.</p>
            <p>Данные Вашей карты вводятся на специальной защищенной платежной странице. Передача информации в
              <a href="#">процессинговую компанию</a> Uniteller происходит с применением технологии шифрования TLS. Дальнейшая передача информации осуществляется по закрытым банковским каналам, имеющим наивысший уровень надежности.</p>
            <h2>Uniteller не передает данные Вашей карты магазину и иным третьим лицам!</h2>
            <p>Если Ваша карта поддерживает технологию 3D Secure, для осуществления платежа, Вам необходимо будет пройти дополнительную проверку пользователя в банке-эмитенте (банк, который выпустил Вашу карту). Для этого Вы будете направлены на страницу
              банка, выдавшего карту. Вид проверки зависит от банка. Как правило, это дополнительный пароль, который отправляется в SMS, карта переменных кодов, либо другие способы.</p>
            <p>Если у Вас возникли вопросы по совершенному платежу, Вы можете обратиться в службу технической поддержки процессингового центра Uniteller:
              <a href="#">support@uniteller.ru</a> или по телефону
              <b>8 800 100 19 60.</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
