<div class="details-list__controls-item">
  <label class="checkbox checkbox_style_default" for="check-all">
    <input class="form-control form-control_type_checkbox checkbox__control" id="check-all" name="check-all" type="checkbox">
    <span class="checkbox__box"></span>
    <span class="checkbox__label">Выбрать все</span>
  </label>
</div>

<div class="details-list__controls-item">
  <a href="#" onclick="sendToCart()" data-remote="true">Выбранные в корзину</a>
</div>

<script>
  formValues = JSON.parse(localStorage.getItem('formValues')) || {};
  var $checkboxes = $("#checkbox-container :checkbox");
  var $check_all = $(".checkbox #check-all");

  function updateStorage(){
    $checkboxes.each(function(){
      formValues[this.id] = this.checked;
    });

    localStorage.setItem("formValues", JSON.stringify(formValues));
  }

  $check_all.on("click", function() {
    $("input:checkbox").prop('checked', $(this).prop("checked"));
    updateStorage();
  });

  $checkboxes.on("change", function(){
    updateStorage();
  });

  $.each(formValues, function(key, value) {
    $("#" + key).prop('checked', value);
  });
</script>