<div class="page__content">
  <div class="page__wrapper">
    <div class="page__main">
      <div class="page__inner">
        <div class="page__empty">
          <div class="empty-page">
            <div class="empty-page__image">
              <img src="<%= asset_path "empty-page__empty-orders.svg" %>" alt="empty-page-img">
            </div>
            <h2 class="empty-page__title">Заказов нет!</h2>
            <div class="empty-page__descr">Здесь отображается история Ваших заказов.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
