<div class="page__main">
  <div class="page__inner">
    <div class="page__empty">
      <div class="empty-page">
        <div class="empty-page__image">
          <img src="<%= asset_path 'empty-page__empty-details.svg' %>" alt="empty-page-img">
        </div>
        <h2 class="empty-page__title">Список деталей пуст!</h2>
        <div class="empty-page__descr">Вы можете воспользоваться
          <br>
          <a href="/constructor">Конструктором деталей</a> или
          <a href="/constructor">Загрузить чертеж</a>
          <br>для рассчета стоимости изготовления.</div>
      </div>
    </div>
  </div>
</div>
